@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html, body {
  direction: rtl !important;
}

// Image Editor
$toolbarWidth: 200px;
.image {
  &-editor {
    overflow: auto;
    padding: 40px;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 1;

    &-canvas {
      width: 80% !important;
      overflow: auto;
      canvas {
        border: 2px solid #ccc;
      }
    }
    &-toolbar {
      width: $toolbarWidth;
      float: right;
      background-color: #333;
      ul {
        li {
          list-style: none;
          color: #fff;
        }
      }
    }
    textarea {
      position: absolute;
      display: none;
      left: 0;
      background: none;
      border: 2px solid
    }
  }
}
