$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

@import "bootstrap/bootstrap";
// Image Editor
.image {
  &-editor {
    overscroll-behavior-y: contain;
    overflow: auto;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 40px 0;
    &-canvas {
      overflow: auto;
      overflow-x: hidden;
      position: relative;
      background: center center no-repeat;
      background-size: contain;
      canvas {
        width: 100%;
      }
    }
    &-toolbar {
      color: #000;
      .edit-shape {
          padding:10px 5px;
          border-bottom: 1px solid #d0d0d0;
          input {
            margin: 0 10px;
          }
          label {
            font-size: 18px;
          }
          &:last-of-type {
            border: none;
            padding-bottom: 0;
          }
          &.active {
            background-color: #ddd;
          }
      }
    }
    .canvas-text {
      position: absolute;
      display: none;
      width: 0;
      left: 0;
      background: none;
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      textarea {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.bar-bg {
  background-color: #f1f1f1;
  box-shadow: 1px 2px 14px 6px #ccc;
}


.image {
  &-upload {
    &-field {
      border: 1px solid #ccc;
      width: 800px;
      margin: auto;
      min-height: 200px;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      input[type="file"] {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
    &-preview {
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
      .img-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .2s ease-in-out;
        z-index: 1;
        height: 300px;
        width: 200px;
        border: 2px solid #eee;
        border-radius: 10px;
        overflow: hidden;
        margin: 5px 10px;
        background: center center no-repeat;
        background-size: contain;
        background-color: #fafafa;
        position: relative;
        .action-icon {
          transition: .2s ease-in-out;
          border-radius: 50%;
          background-color: red;
          color: #fff;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          position: absolute;
          top: 10px;
          cursor: pointer;
          transform: scale(.9);
          box-shadow: 1px 3px 10px 1px #4449;
          &.removeImageIcon {
            right: 10px;
          }
          &.editImageIcon {
            background-color: blue;
            right: 50px;
          }
        }
        &:hover {
          .action-icon {
            transform: scale(1);
          }
        }
      }
    }
  }
}
.slide-leave-active,
.slide-enter-active {
  transition: .2s ease-in-out;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: scale(0)
}

.upload-card {
  i {
    text-align: center;
    font-size: 50px;
    color: #ccc;
  }
}

#accordion{
  max-height: 500px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}